<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdditionalTask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AdditionalTask.Properties.Settings>
            <setting name="WindowPosition" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="WindowPosition1" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="WindowPosition2" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="WindowPosition3" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="WindowPosition4" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="WindowPosition5" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
        </AdditionalTask.Properties.Settings>
    </userSettings>
</configuration>